<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Appender per RequestServer -->
	<appender name="RequestServerAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/requestServer.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Appender per WebSocketsServer -->
	<appender name="WebSocketsServerAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/webSocketsServer.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Appender per DataBase -->
	<appender name="DataBaseAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/database.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Appender per Users -->
	<appender name="UsersAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/users.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Appender console -->
	<appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%thread] %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Assignar cada logger a un appender -->
	<logger name="RequestServerLogger">
		<level value="DEBUG" />
		<appender-ref ref="RequestServerAppender" />
	</logger>

	<logger name="WebSocketsServerLogger">
		<level value="DEBUG" />
		<appender-ref ref="WebSocketsServerAppender" />
	</logger>

	<logger name="DataBaseLogger">
		<level value="DEBUG" />
		<appender-ref ref="DataBaseAppender" />
	</logger>

	<logger name="UsersLogger">
		<level value="DEBUG" />
		<appender-ref ref="UsersAppender" />
	</logger>

	<logger name="ConsoleLogger">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleLogger" />
	</logger>
	
	<!-- Logger per defecte si es vol afegir (opcional) -->
	<root>
		<level value="DEBUG" />
	</root>
</log4net>
